<div class="row">
	<div class="col-sm-9">
		<h3>Composers</h3>
	</div>
	<div class="col-sm-3">
		<a href="/admin/composers/new" class="btn btn-success">Add Composer</a>
	</div>
</div>

<table class="table table-striped">
	<% @composers.each do |c| %>
	<% c.active ? active_method = 'inactivate' : active_method = 'activate' %>
	<tr>
		<td><%= c.name %></td>
		<td><%= c.pro %></td>
		<td><%= c.url %></td>
		<td><a href="/admin/composers/<%= c.id %>/edit" class="btn btn-success">edit</a></td>
		<td>
			<form action="/admin/composers/<%= c.id %>/<%= active_method %>" method="post">
				<input type="hidden" class="authenticity_token" name="authenticity_token" value="" />
				<input type="hidden" name="_method" value="PUT" />
				<button type="submit" class="btn btn-info"><%= active_method %></button>
			</form>
		</td>
		<td>
			<form action="/admin/composers/<%= c.id %>" method="post">
				<input type="hidden" class="authenticity_token" name="authenticity_token" value="" />
				<input type="hidden" name="_method" value="DELETE" />
				<button type="submit" class="btn btn-danger">delete</button>
			</form>
		</td>
	</tr>
	<% end %>
</table>