<div class="row">
	<div class="col-sm-9">
		<h3>Publishers</h3>
	</div>
	<div class="col-sm-3">
		<a href="/admin/publishers/new" class="btn btn-success">Add Publisher</a>
	</div>
</div>

<table class="table table-striped">
	<% @publishers.each do |p| %>
	<% p.active ? active_method = 'inactivate' : active_method = 'activate' %>
	<tr>
		<td><%= p.name %></td>
		<td><%= p.pro %></td>
		<td><%= p.url %></td>
		<td><a href="/admin/publishers/<%= p.id %>/edit" class="btn btn-success">edit</a></td>
		<td>
			<form action="/admin/publishers/<%= p.id %>/<%= active_method %>" method="post">
				<input type="hidden" class="authenticity_token" name="authenticity_token" value="" />
				<input type="hidden" name="_method" value="PUT" />
				<button type="submit" class="btn btn-info"><%= active_method %></button>
			</form>
		</td>
		<td>
			<form action="/admin/publishers/<%= p.id %>" method="post">
				<input type="hidden" class="authenticity_token" name="authenticity_token" value="" />
				<input type="hidden" name="_method" value="DELETE" />
				<button type="submit" class="btn btn-danger">delete</button>
			</form>
		</td>
	</tr>
	<% end %>
</table>